In [2]:
import pandas as pd

In [16]:
df = pd.read_csv(
    filepath_or_buffer="RSS_data_Dec10.csv", 
    # header=[i for i in range(5)],
    header=2,
    skiprows=[3,4]
)
df

,TIMESTAMP,RECORD,BattV_Min,PTemp,Baudrate,Instantanous_velocity,Average_velocity,velocity_unit,Tilt_angle_value,Flow_Direction,SNR_Instantenous,SNR_Average
0,9/12/24 13:00,0,12.57,18.050,1,927,943,1,43,1,7387,7310
1,9/12/24 14:00,1,12.43,20.350,1,956,995,1,44,1,7317,7235
2,9/12/24 15:00,2,12.42,22.810,1,956,956,1,44,1,7273,7280
3,9/12/24 16:00,3,12.43,17.210,1,939,953,1,44,1,7462,7435
4,9/12/24 17:00,4,12.43,19.000,1,903,884,1,43,1,7314,7398
...,...,...,...,...,...,...,...,...,...,...,...,...
2133,12/10/24 10:00,2133,13.07,-8.700,1,894,885,1,43,1,7178,7204
2134,12/10/24 11:00,2134,12.98,-6.158,1,889,888,1,43,1,7185,7281
2135,12/10/24 12:00,2135,12.94,-4.818,1,930,933,1,44,1,7300,7199
2136,12/10/24 13:00,2136,12.88,-2.298,1,884,881,1,43,1,7369,7316
2137,12/10/24 14:00,2137,12.84,-0.266,1,896,905,1,43,1,7299,7287